<?xml version='1.0' encoding='utf-8'?>

<widget id="org.jerm.webrtc" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Mandulis</name>
    <description>mandulis</description>

    <author email="bukman@jermtechnology.com" href="http://www.jermtechnology.com">Jerm Technology</author>
    <content src="index.html" />
    <!--<preference name="phonegap-version" value="cli-6.3.0" />-->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14"/>
    
    <!-- lock to portait -->
    <preference name="orientation" value="portrait" />

    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
    
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
    
    <!-- use latest version of phonegap...this version is displayed in the phonegap web -->
    <preference name="phonegap-version" value="cli-7.0.1" />

    <allow-navigation href="*" />
    <access origin="*" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="market:*" />

    <icon src="logo.png" gap:role="default" />

    <preference name="permissions" value="none"/>

    <plugin name="cordova-plugin-whitelist" />

    <plugin spec="https://github.com/jverlee/cordova-plugin-inappbrowser-camera.git" version="1.1.0" source="git" />    
</widget>

